<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IT job market analytics</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css" >
</head>
<body>
<header>
    <nav class="navbar bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">IT Job</a>
            <div>
                <a class="btn btn-outline" href="signin.html">Sign In</a>
                <a class="btn btn-outline" href="signup.html">Sign Up</a>
            </div>
        </div>
    </nav>
</header>
<section class="wrapper">
    <div class="container">Content</div>
</section>
<footer class="bg-light">
    <div class="container">
        © 2023 IT Job
    </div>
</footer>
</body>
</html>