<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IT job market analytics</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="navbar bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">IT Job</a>
            <div>
                <span class="btn">User Name</span>
                <a class="btn btn-outline" href="#logout">Logout</a>
            </div>
        </div>
    </nav>
</header>
<section class="wrapper profile">
    <div class="container">
        <div class="profile__form">
            <h1 class="text-center">Your profile</h1>
            <form>
                <div class="col-sm-4 m-auto text-center">
                    <input type="email" class="form-control mb-3" value="Bob" disabled>
                    <input type="password" class="form-control mb-3" placeholder="Telegram chat id">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
        <div class="subscriptions__form">
            <h1 class="text-center ">You subscriptions</h1>
            <form action="" class="mt-4">
                <div class="m-auto col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <select class="form-select">
                                <option selected>Open this select menu</option>
                                <option value="1">Java</option>
                                <option value="2">Kotlin</option>
                                <option value="3">JavaScript</option>
                                <option value="3">Android</option>
                            </select>
                        </div>
                        <div class="col-sm-6 text-center">
                            <button class="btn btn-outline-primary" type="submit">Subscribe</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="subscribers mt-4">
            <div class="m-auto col-sm-6">
                <div class="d-flex align-items-center justify-content-between col-sm-6 mt-2">
                    <span>Java</span>
                    <button class="btn btn-outline-danger">-</button>
                </div>
                <div class="d-flex align-items-center justify-content-between col-sm-6 mt-2">
                    <span>Android</span>
                    <button class="btn btn-outline-danger">-</button>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bg-light">
    <div class="container">
        © 2023 IT Job
    </div>
</footer>
</body>
</html>