<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign In</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container signIn">
    <h1 class="text-center">Sign In</h1>
    <form>
        <div class="col-sm-4 m-auto">
            <input type="email" class="form-control mb-3" placeholder="Email">
            <input type="password" class="form-control mb-3" placeholder="Password">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
</body>
</html>