<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IT job market analytics</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header th:fragment="header (isLoggedIn, username)">
    <nav class="navbar bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">IT Job</a>
            <div th:if="${isLoggedIn}">
                <a class="btn btn-outline" href="/user">Hi, <span th:text="${username}"/></a>
                <a class="btn btn-outline" href="/logout">Logout</a>
            </div>
            <div th:unless="${isLoggedIn}">
                <a class="btn btn-outline" href="/sign-in">Sign In</a>
                <a class="btn btn-outline" href="/sign-up">Sign Up</a>
            </div>
        </div>
    </nav>
</header>
</body>